<div>
  <h2 id="page-heading" data-cy="BookingHeading">
    <span>Bookings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-booking"
        [routerLink]="['/booking/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Booking </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="bookings?.length === 0">
    <span>No bookings found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="bookings && bookings.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="eventDate"><span>Event Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="venue"><span>Venue</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="plan"><span>Plan</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdDate"><span>Created Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="contactNumber"><span>Contact Number</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="emailId"><span>Email Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="userName"><span>User Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="userId"><span>User Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of bookings; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/booking', booking.id, 'view']">{{ booking.id }}</a>
          </td>
          <td>{{ booking.eventDate | formatMediumDatetime }}</td>
          <td>{{ booking.venue }}</td>
          <td>{{ booking.plan }}</td>
          <td>{{ booking.createdDate | formatMediumDatetime }}</td>
          <td>{{ booking.contactNumber }}</td>
          <td>{{ booking.emailId }}</td>
          <td>{{ booking.userName }}</td>
          <td>{{ booking.userId }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/booking', booking.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/booking', booking.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(booking)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="bookings && bookings.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
