<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="booking">
      <h2 data-cy="bookingDetailsHeading"><span>Booking</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ booking.id }}</span>
        </dd>
        <dt><span>Event Date</span></dt>
        <dd>
          <span>{{ booking.eventDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Venue</span></dt>
        <dd>
          <span>{{ booking.venue }}</span>
        </dd>
        <dt><span>Plan</span></dt>
        <dd>
          <span>{{ booking.plan }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ booking.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Contact Number</span></dt>
        <dd>
          <span>{{ booking.contactNumber }}</span>
        </dd>
        <dt><span>Email Id</span></dt>
        <dd>
          <span>{{ booking.emailId }}</span>
        </dd>
        <dt><span>User Name</span></dt>
        <dd>
          <span>{{ booking.userName }}</span>
        </dd>
        <dt><span>User Id</span></dt>
        <dd>
          <span>{{ booking.userId }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/booking', booking.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
